html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
  font-family: Courier, 'Courier New', monospace;
  font-size: 1.6rem;
  background: #fff;
  color: #000;
}

a {
  color: #c39;
}

main {
  margin: 2rem 0;
  text-align: center;
}

#game {
  border: 1px solid #333;
}

footer {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

footer p {
    margin: 0;
    width: 30%;
}

footer p:first-child {
    text-align: left;
}

footer p:last-child {
    text-align: right;
}

.fullscreen {
    padding: 0;
    background: #efefef;
    border: none;
    line-height: 20px;
    display: inline-block;
}

.fullscreen:hover {
    cursor: pointer;
    background: #ccc;
}

.fullscreen img {
    display: block;
    margin: 5px 3px;
}
